

	font-family: "Birka W01","Georgia","Times","New Roman","DejaVu Serif","serif";
	background-image: url(https://www.dphotographer.co.uk/users/14802/thm1024/img_0021edit.jpg);

#navTitle  {
	font-size: 150px;
}
body {
			  font-family: "Birka W01",Georgia,"Times New Roman","DejaVu Serif",serif;
				text-align: justify;
			}
.button{
	color: grey;
}

  position: absolute;
  top: 35%;

}
div {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
}

.row {
	padding: 20;
	color: black;
}

body.html {
  height: 100%;
}

.row {
	padding: 20;
	color: black;
}

* {
  box-sizing: border-box;
}


section{
	padding: 5%;
}

.column{
	position: relative;
	float: left;
 width: 50%;
 padding: 5%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

			/*li {
			    display: inline;

			}
			nav {
		    width: 200%;

		  }
			.mt-0 {
			  margin-top: 50 !important;
			}

			.ml-1 {
		  margin-left: ($spacer * .25) !important;
		}

	.px-2 {
	  padding-left: ($spacer * .5) !important;
	  padding-right: ($spacer * .5) !important;
	}

	.p-3 {
	  padding: $spacer !important;
	}
		}-->
