
.wrapper {
	margin: 27px;
	padding: 20px;
	background-color: white

}

#navTitle {
	font-size: 15px;
}
body { font-family: "inherit","Birka W01",Georgia,"Times New Roman","DejaVu Serif",serif;
				text-align: justify;
				background-color: #3d00cc
			}



/* div {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
} */

body.html {
  height: 100%;
}

.row {
	padding: 20;
	color: black;
}

* {
  box-sizing: border-box;
}
section{
	padding: 5%;
}
.column{
	position: relative;
	float: left;
 width: 50%;
 padding: 5%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
